<div class="auth">
    <!-- <h1>Entrar</h1> -->
    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" type="email" [(ngModel)]="user.username" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="user.password" autocomplete="off" required>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="form.form.invalid">Entrar</button>
        <!-- <a mat-raised-button routerLink="/reset/password">Esqueci a senha</a> -->
        <!-- <a mat-raised-button routerLink="/register/account">Criar conta</a> -->
    </form>
</div>