<section class="login">
    <div class="main mat-elevation-z8">
        <div>
            <span>Explore o que há de</span>
            <span>mais <span style="color: rgb(251,80,80); margin: 0;">b</span>elo</span>
        </div>
        <div>
            <img src="assets/img/logo.png">
            <span class="logo">beautyexplore.app</span>
            <app-auth></app-auth>
            <div class="alternatives">
                <span>Ainda não tem uma conta?</span>
                <button (click)="createAccount()">Inscreva-se agora</button>
            </div>
            <div class="alternatives">
                <span>Esqueceu a senha?</span>
                <button (click)="resetPassword()">Recupere agora</button>
            </div>
            <div class="app">
                <img src="assets/img/app-android.png">
                <img src="assets/img/app-store.png">
            </div>
        </div>
    </div>
</section>
<footer>
    <div>
        <ul>
            <li><a href="">Terms</a></li>
            <li><a href="">Private Policy</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
</footer>
