section.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.title span {
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

section.title span mat-icon {
    vertical-align: -4px;
    margin-right: 1rem;
}