<div class="reset">
    <h1>Recuperar conta</h1>
    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput name="email" type="email" [(ngModel)]="user.username" autocomplete="off" required>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" [disabled]="form.form.invalid">Recuperar conta</button>
        </div>
    </form>
</div>
