.reset {
    /* padding: 2rem; */
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.reset h1 {
    display: flex;
    justify-content: center;
}

.reset form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
}

.reset form div {
    width: 100%;
}

.reset form div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.reset form div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
}

.reset form button {
    width: 90%;
    background-color: rgb(200, 240, 160);
    margin-top: 1rem;
}