<div class="block">
    <span class="title">
        Foto do perfil
    </span>
    <div class="photo">
        <img src="assets/demo/profile.png" class="mat-elevation-z8">
        <button mat-flat-button color="accent">
            Modificar
        </button>
        <button mat-flat-button color="warn">
            Excluir
        </button>
    </div>
</div>

<div class="block">
    <span class="title">
        Informações do perfil
    </span>
    <div class="info">
        <div>
            <span>Nome:</span>
        </div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nome do perfil</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="info">
        <div>
            <span>Bio:</span>
        </div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Biografia</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="info">
        <div>
            <span>Telefone:</span>
        </div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Telefone</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</div>

<div class="btns">
    <button mat-flat-button color="accent">
        <mat-icon>check</mat-icon>
        Atualizar
    </button>
</div>
