<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile.png" class="mat-elevation-z4">
    <div class="info">
        <span>@pauferoficial</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()" style="background-image: url(assets/demo/demo1.png);"></button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile.png" class="mat-elevation-z4">
    <div class="info">
        <span>@pauferoficial</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()">
    <video src="assets/demo/video2.mp4" autoplay [muted]="true"></video>
  </button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile1.png" class="mat-elevation-z4">
    <div class="info">
        <span>@michelyxi</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()" style="background-image: url(assets/demo/demo2.png);"></button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile2.png" class="mat-elevation-z4">
    <div class="info">
        <span>@nessaoliver</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()" style="background-image: url(assets/demo/demo3.png);"></button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile2.png" class="mat-elevation-z4">
    <div class="info">
        <span>@nessaoliver</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()" style="background-image: url(assets/demo/demo4.png);"></button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile3.png" class="mat-elevation-z4">
    <div class="info">
        <span>@bandeiramanoel</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()" style="background-image: url(assets/demo/demo1.png);"></button>
</div>
<div class="mat-elevation-z8">
  <div class="title">
    <img src="assets/demo/profile3.png" class="mat-elevation-z4">
    <div class="info">
        <span>@bandeiramanoel</span>
        <span><mat-icon>location_on</mat-icon> São Paulo</span>
    </div>
  </div>
  <button mat-button (click)="openModal()">
    <video src="assets/demo/video.mp4" autoplay [muted]="true"></video>
  </button>
</div>
