<section class="title">
    <span><mat-icon>shopping_cart</mat-icon> Meu carrinho</span>
  </section>
  
<section class="content">
    <mat-card>
        <div>
            <div class="title">
                <span><mat-icon>person</mat-icon> Usuário</span>
            </div>
            <div class="info">
                <img src="assets/demo/profile1.png" class="mat-elevation-z4">
                <div>
                    <span>@michelyxi</span>
                    <span>Michely Ximenes</span>
                </div>
            </div>

            

            <div class="title">
                <span><mat-icon>room</mat-icon> Endereço</span>
                <button mat-flat-button color="accent">Endereço de entrega</button>
            </div>
            <div class="info address">
                <div class="col2">
                    <span>Conjunto Valparaiso Quadra 6</span>
                    <span>Número 1</span>
                </div>
                <div class="col2">
                    <span>Prox. a papelaria presart</span>
                    <span>CEP: 67113-440</span>
                </div>
                <div class="col3">
                    <span>Coqueiro</span>
                    <span>Ananindeua</span>
                    <span>PA</span>
                </div>
            </div>

            <div class="title">
                <span><mat-icon>payments</mat-icon> Pagamento</span>
                <button mat-flat-button color="accent">Forma de pagamento</button>
            </div>
            <div class="info payment">
                <span><mat-icon>pix</mat-icon> Pix</span>
                <span>Troco: BRL 50,00</span>
            </div>
        </div>
           
        <div>
            <div class="title">
                <span><mat-icon>inventory_2</mat-icon> Conteúdo</span>
                <!-- <button mat-flat-button color="warn">Ver itens</button> -->
            </div>
            <div class="itens">

            </div>
            <div class="info total">
                <span>Total</span>
                <span class="total">
                BRL 399,00
                </span>
            </div>
            <div class="pay">
                <button mat-flat-button color="warn">Pagar</button>
            </div>
        </div>
    </mat-card>
  
  </section>

